<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Module 12 Data Driven Testing" verbose="1">
    <test name="SauceDemo Data Driven Regression">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.learning.tests.saucedemo.SauceDemoPageObjectTest"/>
            <class name="com.learning.tests.saucedemo.SauceDemoDataDrivenTest"/>
        </classes>
    </test>
</suite>
